<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">
    <form [formGroup]="addWordListForm" (ngSubmit)="submitForm();">
      <mat-card class="add-wordlist-card">
        <mat-card-header>
          <mat-card-title class="add-wordlist-title">New Word List</mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="column">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeHolder="Name" formControlName="name" required>
            <mat-error *ngFor="let validation of addWordListValidationMessages.name">
              <mat-error class="error-message" data-test="nameError"
                         *ngIf="addWordListForm.get('name').hasError(validation.type) && (addWordListForm.get('name').dirty
                         || addWordListForm.get('name').touched)">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Enabled</mat-label>
            <mat-select required formControlName="enabled">
              <mat-option id="true" value="true">True</mat-option>
              <mat-option  id="false" value="false">False</mat-option>
            </mat-select>
            <mat-error *ngIf="addWordListForm.get('enabled').hasError('required')">You must make a selection</mat-error>
            <mat-error *ngIf="addWordListForm.get('enabled').hasError('pattern') && !addWordListForm.get('enabled').hasError('required')">
              Invalid Input
            </mat-error>
          </mat-form-field>

        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button type="button" [disabled]="!addWordListForm.valid" type="submit">
          Add Word List
        </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
