<mat-card class="wordlists-card" *ngIf="this.wordList">
  <mat-card-header>
    <div fxFlex>
    <mat-card-header class="wordlist-card-name">
     {{this.wordList.name}}
    </mat-card-header>
    <mat-card-subtitle>
    <mat-card-content class="wordlist-enabled" *ngIf="wordList.enabled; else elseBlock">
      Word List Enabled: <mat-icon>check_box</mat-icon>
    </mat-card-content>
    <ng-template #elseBlock>Word List Disabled: <mat-icon>check_box_outline_blank</mat-icon></ng-template>
    </mat-card-subtitle>

    <!-- Format for displaying items in word list based on Team Climate's formatting: https://github.com/UMM-CSci-3601-S21/it-1-climate -->

    <mat-card id="nouns">
    <mat-card-content id="pos">Nouns</mat-card-content>
    <mat-card-content class="wordforms" *ngFor="let nounWord of wordList.nouns">
      <ul class="word"><p class="category-word"> {{nounWord.word}} </p></ul>
    </mat-card-content>
    </mat-card>
    <mat-card id="adj">
    <mat-card-content id="pos">Adjectives</mat-card-content>
    <mat-card-content class="wordforms" *ngFor="let adjectiveWord of wordList.adjectives">
      <ul class="word"><p class="category-word"> {{adjectiveWord.word}} </p></ul>
    </mat-card-content>
    </mat-card>
    <mat-card id="verbs">
    <mat-card-content id="pos">Verbs</mat-card-content>
    <mat-card-content class="wordforms" *ngFor="let verbWord of wordList.verbs">
      <ul class="word"><p class="category-word">{{verbWord.word}} <p></ul>
    </mat-card-content>
    </mat-card>
    <mat-card id="misc">
    <mat-card-content id="pos">Misc</mat-card-content>
    <mat-card-content class="wordforms" *ngFor="let miscellaneousWord of wordList.misc">
      <ul class="word"><p class="category-word"> {{miscellaneousWord.word}}</p></ul>
    </mat-card-content>
    </mat-card>
    </div>
  </mat-card-header>
</mat-card>
