
.mat-card-title {
  background-color:bisque;
  display: inline-block;
  font-size: 20px;
  padding-left: 15px;
}

#nouns {
  background-color:lightcoral;
}

#adj {
  background-color: lightgreen;
}

#verbs {
  background-color: lightblue;
}

#misc{
  background-color: lightyellow;
}

#pos {
  text-align: justify;
  padding-top: 10px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
}

.wordforms > ul {
  font-weight: bolder;
}

#type {
  text-align: justify;
}

