<mat-card class="wordlists-card" *ngIf="this.wordList">
  <mat-card-header>
    <div fxFlex>
    <mat-card-header class="wordlist-card-name">
     {{this.wordList.name}}
    </mat-card-header>
    <mat-card-content class="wordlist-enabled">
      <p>Word List Enabled: <span class="wordlist-card-enabled">{{ this.wordList.enabled }}</span></p>
    </mat-card-content>

    <mat-card id="nouns">
    <mat-card-content id="pos">Nouns</mat-card-content>
    <mat-card-content class="wordforms" *ngFor="let nounWord of wordList.nouns">
      <ul id="type">Word:</ul>
      <li>{{nounWord.word}} </li>
      <ul>Form(s):</ul>
      <li>{{nounWord.forms}}</li>
    </mat-card-content>
    </mat-card>
    <mat-card id="adj">
    <mat-card-content id="pos">Adjectives</mat-card-content>
    <mat-card-content class="wordforms" *ngFor="let adjectiveWord of wordList.adjectives">
      <ul id="type">Word:</ul>
      <li>{{adjectiveWord.word}}</li>
      <ul>Form(s):</ul>
      <li>{{adjectiveWord.forms}}</li>
    </mat-card-content>
    </mat-card>
    <mat-card id="verbs">
    <mat-card-content id="pos">Verbs</mat-card-content>
    <mat-card-content class="wordforms" *ngFor="let verbWord of wordList.verbs">
      <ul id="type">Word: </ul>
      <li>{{verbWord.word}}</li>
      <ul>Form(s):</ul>
      <li>{{verbWord.forms}}</li>
    </mat-card-content>
    </mat-card>
    <mat-card id="misc">
    <mat-card-content id="pos">Misc</mat-card-content>
    <mat-card-content class="wordforms" *ngFor="let miscellaneousWord of wordList.misc">
      <ul id="type">Word:</ul>
      <li> {{miscellaneousWord.word}}</li>
      <ul>Form(s):</ul>
      <li> {{miscellaneousWord.forms}}</li>
    </mat-card-content>
    </mat-card>
    </div>
  </mat-card-header>
</mat-card>
