.mat-card{
  background-color: rgb(211, 202, 202);
}


.wordlist-card-name {
  margin-top: 10px;
  font-size: 20px;
  text-decoration:underline;
}

.mat-card-header{
  background-color: #418fce;
}

.wordlist-enabled {
  margin-top: 5px;
  font-size: 15px;
}



.mat-card-content{
  justify-content: left;
}
#nouns {
  margin-right:10%;
  background-color:rgb(231, 162, 162);
  margin-bottom: 10px;
}

#adj {
  background-color: lightgreen;
  margin-right:10%;
  margin-bottom: 10px;

}

#verbs {
  background-color: lightblue;
  margin-right:10%;
  margin-bottom: 10px;
}

#misc{
  background-color: rgb(248, 248, 87);
  margin-right:10%;
  margin-bottom:10%;
}

#pos {
  text-align: justify;
  padding-top: 5px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
}

.category-word {
  display:inline-block;
}


.wordforms > p {
  font-weight: 100;
}

.wordforms > li {
  padding-left: 50px;
}

.word {
  text-indent: 0.5em;
}

#type {
  text-align: left;
}

